id: hl7.fhir.fr.core
canonical: https://hl7.fr/ig/fhir/core
name: FrCore
title: Guide d'implémentation Fr Core
publisher:
  name: Interop'Santé
  url: http://interopsante.org/
contact:
  - name: InteropSanté
    telecom:
      - system: email
        value: fhir@interopsante.org
        use: work
status: draft
version: 2.0.0
fhirVersion: 4.0.1
copyrightYear: 2023+
releaseLabel: ci-build

parameters:
    shownav: 'true'


pages:
    index.md:
        title: Accueil
    autres_ressources.md:
        title: Autres Ressources
        downloads.md:
            title: Téléchargements et usages

menu:
    Accueil: index.html
    Ressources de conformité: artifacts.html
    Autres ressources:
        Téléchargements et usage: downloads.html
        "Spécifications FHIR ": new-tab {{site.data.fhir.path}}index.html
        "Site Interop'Santé": new-tab http://www.interopsante.org
